/* Base styles */
:root {
    --primary-color: #1e3a8a; /* 60% */
    --secondary-color: #e5e7eb; /* 30% */
    --accent-color: #f59e0b; /* 5% */
    --accent-color-2: #4b5563; /* 5% */
    --font-family: 'Arial, sans-serif';
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Header Styles */
header {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.top-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    padding: 0.4rem;
}

.humburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 0.4rem;
}

.humburger span {
    width: 25px;
    height: 3px;
    background-color: white;
}

nav {
    display: none;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    padding: 10px 20px;
    border-top: 2px solid #fff;
    backdrop-filter: blur(10px);
}

nav.active{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    padding: 10px 20px;
    border-top: 2px solid #fff;
    backdrop-filter: blur(5px);
    z-index: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: 2px 1px 0 var(--primary-color);
}

nav ul li a:hover {
    color: var(--accent-color);
}

/* Close button for mobile nav */
.close-humburger{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1.6rem;
    height: 1.6rem;
    padding: 0.3rem;
    color: var(--accent-color-2);
    border: 2px solid red;
    
}

.close-humburger:hover{
    background-color: blueviolet;
}

.xspan1{
    position: absolute;
    width: 100%;
    height: 0.2rem;
    right: 0;
    transform: rotate(45deg);
    background-color: var(--primary-color);

}

.xspan2{
    position: absolute;
    width: 100%;
    height: 0.2rem;
    left: 0;
    transform: rotate(-45deg);
    background-color: var(--primary-color);

}

/* Hero Section */
.hero {
    position: relative;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    background: url(../images/hero1.jpg) no-repeat center/cover;
    width: 100%;
    height: 60vh;
}

.school-title {
    display: flex;
    font-size: 1.2rem;
    padding: 1rem 0.1rem 1rem 0.1rem;
    border: 0.5px solid white;
    text-align: center;
}

.cta-button {
    display: none;
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 10px;
    transition: background-color 0.3s ease;
    left: 0;
    bottom: -5rem;

}

.hook-statement{
    display: none;
    position: absolute;
    bottom: -3rem;
    left: 0;
    text-align: left;
    font-size: 1.7rem;
    font-family: Helvetica, sans-serif;
    color: var(--primary-color);
}

/* Hero Section */
.hero1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.cta-button1 {
    display: block;
    background-color: var(--accent-color);
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 10px;
    transition: background-color 0.3s ease;
    left: 0;

}

.hook-statement1{
    display: flex;
    text-align: center;
    font-size: 1.7rem;
    font-family: Helvetica, sans-serif;
    color: var(--primary-color);
}

.cta-button1:hover {
    background-color: var(--accent-color-2);
}

/* About Section */
.about {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.about h2 {
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.commitment, .mission, .vision, .values {
    margin-bottom: 15px;
}

.commitment p, .mission p, .vision p, .values p {
    font-size: 16px;
    color: var(--accent-color-2);
    line-height: 1.5;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

/* Why Choose Us Section */
.why-choose-us {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.why-choose-us h2 {
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.why-content p {
    font-size: 16px;
    color: var(--accent-color-2);
    line-height: 1.5;
    margin-bottom: 10px;
}

.why-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

/* Programs Section */
.programs {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.programs h2 {
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.programs p {
    font-size: 16px;
    color: var(--accent-color-2);
    line-height: 1.5;
}

/* Testimonials Section */
.testimonials {
    background-color: var(--primary-color);
    padding: 20px;
    color: white;
    text-align: center;
}

.testimonials h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.testimonial {
    margin-bottom: 20px;
}

.testimonial img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.testimony-button {
    color: var(--secondary-color);
    text-decoration: none;
}

.more-testimony{
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    padding: 3px 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Faculty Section */
.faculty {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.faculty h2 {
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.faculty-member {
    margin-bottom: 20px;
}

.faculty-member img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.faculty-member p {
    font-size: 16px;
    color: var(--accent-color-2);
}

/* Events Section */
.events {
    background-color: var(--primary-color);
    padding: 20px;
    color: white;
    text-align: center;
}

.events h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.event p {
    color: var(--secondary-color);
}

.event {
    margin-bottom: 20px;
}

.event img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.event p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.more-events{
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    padding: 3px 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.events-button {
    color: var(--secondary-color);
    text-decoration: none;
}

/* Contact Section */
.contact {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.contact h2 {
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.contact p {
    font-size: 16px;
    color: var(--accent-color-2);
    line-height: 1.5;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-section {
    margin-bottom: 15px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--accent-color);
}

.footer-section p, .footer-section ul li a, .donate {
    font-size: 16px;
    color: var(--secondary-color);
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section a {
    text-decoration: none;
}

.footer-section a:hover {
    color: var(--accent-color);
}


@media (min-width: 768px) {
   
}
